<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" th:href="@{/css/RegisterStyle.css}"/>

<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" >
<link href="https://fonts.googleapis.com/css?family=Baskervville|Josefin+Sans|Playfair+Display&display=swap" rel="stylesheet">
    <title>Registration</title>
</head>

<body>
    <div class="container" >
        <div class="row">
            <div class="col-sm-5 col-md-6 col-md-offset-3  mx-auto">

                <div th:if="${param.success}">
                    <div class="alert alert-info">You've successfully registered to the IJP Portal</div>
                </div>
<div id="divstyle">
<br>
<br>
            <img class="imgstyle" src="/images/thislogo.png" alt="logo">
                <br>
                <br>
                <br>
                <div class="formstyle shadow p-3 mb-5 bg-white ">
                <form th:action="@{/registration}" th:object="${user}" method="post" autocomplete="off">

                    <p class="error-message" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation error
                    </p>
					<br>
					<br>
					
				<div class="form-group"	th:classappend="${#fields.hasErrors('Empid')}? 'has-error':''">
						<label for="Empid" class="control-label">Emp Id: </label> <input id="label" class="form-control"th:field="*{Empid}" />
						<p class="error-message" th:each="error : ${#fields.errors('Empid')}" th:text="${error}">Validation error</p>
					</div>
					
					
					 <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                        <label for="firstName" >First Name: </label> <input id="label" class="form-control" th:field="*{firstName}" />
                        <p class="error-message" th:each="error : ${#fields.errors('firstName')}" th:text="${error}">Validation error</p>
                    </div>
                    
                    <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                        <label for="lastName" class="control-label">Last Name: </label> <input id="label" class="form-control" th:field="*{lastName}" />
                        <p class="error-message" th:each="error : ${#fields.errors('lastName')}" th:text="${error}">Validation error</p>
                    </div>
                   
                    <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                        <label for="email" class="control-label">E-mail: </label> <input id="label" class="form-control" th:field="*{email}" />
                        <p class="error-message" th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation error
                        </p>
                    </div>
                   
				   <div class="form-group" th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
						<label for="confirmEmail" class="control-label">Confirm E-mail: </label> <input id="label" class="form-control" th:field="*{confirmEmail}" />
						<p class="error-message" th:each="error : ${#fields.errors('confirmEmail')}" th:text="${error}">Validation error</p>
					</div>
				   
				   
                    <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                        <label for="password" class="control-label">Password: </label> <input id="label" class="form-control" type="password" th:field="*{password}" />
                        <p class="error-message" th:each="error : ${#fields.errors('password')}" th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                        <label for="confirmPassword" class="control-label">Confirm
                              password: </label> <input id="label" class="form-control" type="password" th:field="*{confirmPassword}" />
                        <p class="error-message" th:each="error : ${#fields.errors('confirmPassword')}" th:text="${error}">Validation error</p>
                    </div>
                    
					
					<div class="form-group"
						th:classappend="${#fields.hasErrors('domain')}? 'has-error':''">
						<label for="domain" class="control-label">Domain:
						</label> <input id="label" class="form-control"
							th:field="*{domain}" />
						<p class="error-message"
							th:each="error : ${#fields.errors('domain')}"
							th:text="${error}">Validation error</p>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('level')}? 'has-error':''">
						<label for="level" class="control-label">Level:
							</label> <input id="label" class="form-control"
							th:field="*{level}" />
						<p class="error-message"
							th:each="error : ${#fields.errors('level')}"
							th:text="${error}">Validation error</p>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('experience')}? 'has-error':''">
						<label for="experience" class="control-label">Experience:
						</label> <input id="label" type="number" class="form-control"
							th:field="*{experience}" />
						<p class="error-message"
							th:each="error : ${#fields.errors('experience')}"
							th:text="${error}">Validation error</p>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('skillset')}? 'has-error':''">
						<label for="skillset" class="control-label">Skillset:
						</label> <input id="label" class="form-control"
							th:field="*{skillset}" />
						<p class="error-message"
							th:each="error : ${#fields.errors('skillset')}"
							th:text="${error}">Validation error</p>
					</div>
					
					<div class="form-group"
						th:classappend="${#fields.hasErrors('location')}? 'has-error':''">
						<label for="location" class="control-label">Location:
						</label> <input id="label" class="form-control"
							th:field="*{location}" />
						<p class="error-message"
							th:each="error : ${#fields.errors('location')}"
							th:text="${error}">Validation error</p>
					</div>
					
					
					
					
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Register</button>
                        <br>
                        <br>
                        <span class="spanstyle">Already registered? <a href="/" th:href="@{/login}">Login here</a></span>
                    </div>

                </form>
                </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>