<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Edit Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/apply.css}"/>
<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" >
<link href="https://fonts.googleapis.com/css?family=Baskervville|Josefin+Sans|Playfair+Display&display=swap" rel="stylesheet">

</head>

 
 <body id="textchange">
 
   <div class="container " >
        <div class="row ">
            <div class="col-md-6 col-md-offset-3 mx-auto">

                <div th:if="${param.success}">
                    <div class="alert alert-info">You've successfully Updated the profile.</div>
                </div>
<div id="divstyle">
<br>
<br>
           
<img class="imgstyle ml-4" src="/images/thislogo.png" alt="logo">                <br>
                <br>
                <br>
                       
                        <h3> Edit Profile </h3>
      
        <br>
                <div class="card-body shadow-lg applyjobradius" >
                
                <div class="formstyle ">
                <form  th:action="@{/updateUser}" th:object="${userprofile}" method="get">
    

                    <p class="error-message" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation error
                   	<br>
                    </p>
				
					<br>
				
					<div class="form-group"
						th:classappend="${#fields.hasErrors('experience')}? 'has-error':''">
						<label for="experience" class="control-label">Experience:
						</label> <input id="label" type="number" class="form-control"
							th:field="*{experience}" />
						<p class="error-message"
							th:each="error : ${#fields.errors('experience')}"
							th:text="${error}">Validation error</p>
					</div>
					
					<div class="form-group" th:classappend="${#fields.hasErrors('skillset')}? 'has-error':''">
                     <label for="skills" class="control-label">Skills(Multiple):</label>
                    <select id="skills" th:field="*{skillset}"  class="form-control"   multiple="multiple">
   
                  <option   th:each="skill: ${predefinedskillslist}"
                    th:value="${skill}" th:text="${skill}">
                  </select> 
                	<p class="error-message"
							th:each="error : ${#fields.errors('skillset')}"
							th:text="${error}">Validation error</p>
                    </div>
					
					<div class="form-group"
						th:classappend="${#fields.hasErrors('location')}? 'has-error':''">
						<label for="location" class="control-label">Location:
						</label> <input id="label" class="form-control"
							th:field="*{location}" />
						<p class="error-message"
							th:each="error : ${#fields.errors('location')}"
							th:text="${error}">Validation error</p>
					</div>
					
					
					
					
					
                    <div class="form-group col-sx-12 col-sm-6 emphasis mx-auto" style="margin:.5rem">
                        <button type="submit" class="form-control btn btn-success">Save</button>
                      
                    </div>

                </form>
                
               <div class="col-sx-12 col-sm-6 emphasis mx-auto" style="margin:.5rem" >  
			<a th:href="@{/}"><button class="form-control btn btn-primary" >Back To Home</button></a>
			</div>
			
                </div>
                </div>
                <br>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
 
   <!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>

 <script type="text/javascript" th:src="@{/js/BsMultiSelect.js}"></script>
 <script >
 $("select").bsMultiSelect({
	  selectedPanelDefMinHeight: 'calc(2.25rem + 2px)',
	  selectedPanelLgMinHeight: 'calc(2.875rem + 2px)',
	  selectedPanelSmMinHeight: 'calc(1.8125rem + 2px)',
	  selectedPanelDisabledBackgroundColor: '#e9ecef',
	  selectedPanelFocusBorderColor: '#80bdff',
	  selectedPanelFocusBoxShadow: '0 0 0 0.2rem rgba(0, 123, 255, 0.25)',
	  selectedPanelFocusValidBoxShadow: '0 0 0 0.2rem rgba(40, 167, 69, 0.25)',
	  selectedPanelFocusInvalidBoxShadow: '0 0 0 0.2rem rgba(220, 53, 69, 0.25)',
	  filterInputColor: '#495057',
	  selectedItemContentDisabledOpacity: '.65',
	  dropdDownLabelDisabledColor: '#6c757d',
	  placeholder: 'Select...'
	});
    </script>
 </body>
</html>