 .imgstyle
{
	mx-auto;
	height:6.25rem;
	width:25rem;
}
body{
	
	 background-image: linear-gradient(to right, rgba(255,0,0,0), #8ac6d1);
	 overflow-x:hidden;
}
#textchange{
	font-family:serif;	 
}
.applyjobradius{
	border-radius:2.8rem; 
}

h3{
font-family:serif;	
	text-align: center;
	letter-spacing: 0.1rem;
}
